    body {
        margin: 100px;
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(to right, #a90582, #ea0cb6);
        color: #0f172a;
    }


    .container {
        background-color: #e0f2fe;
        padding: 30px;
        border-radius: 12px;
    }


    .section-title {
        background-color: #fa60d1;
        color: #420330;
        padding: 15px;
        border-radius: 8px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
    }

    h3 {
        background-color: #fd93f2;
        padding: 10px;
        border-radius: 6px;
        margin-top: 30px;
    }

    p {
        line-height: 1.6;
    }

    ul {
        margin-left: 25px;
    }


    #personal-info {
        text-align: center;
        line-height: 1.2;
        font-size: 14px;
        margin-top: 15px;
    }


    #education-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
        background-color: #ffffff;
        border-radius: 6px;
        overflow: hidden;
    }

    #education-table th,
    #education-table td {
        border: 1px solid #8a1e6f;
        padding: 10px;
    }

    #education-table th {
        background-color: #fa60d1;
    }

    a {
        color: #af1e88;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }

    hr {
        border: none;
        height: 1px;
        background-color: #8a1e71;
        margin: 25px 0;
    }

    .nav-link {
        text-align: center;
        margin: 15px 0;
    }